body {
    background-color:rgb(139, 245, 139);

    font-family: Quicksand, sans-serif;
}

.homepage-content {
    background-color:rgb(207, 250, 137);
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;
}

.about-wrapper {
    display: flex;
}

.about-wrapper img {
    display: flex;
}

nav {
    background-color:rgb(80, 223, 147);
    color:rgb(191, 249, 191);
    height: 65px;
    text-align:left;
    padding:10px;
    font-family: 'Elms Sans', sans-serif;
    font-size: 19px;
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #2e4d34;
    font-weight: 600;
}

header {
    background-color:rgb(51, 51, 135);
    color:rgb(191, 249, 191);
    height: 150px;
    text-align:center;
    padding:10px;
    font-family: 'Elms Sans', sans-serif , bold;
}

h1 {
    color:rgb(11, 11, 95);
    text-align:center;
    font-size: 80px;
    font-family: 'Elms Sans', sans-serif;
}
h2 {
    color:rgb(11, 11, 95);
    text-align:center;
    font-family: 'Elms Sans', sans-serif;
    background-color:rgb(49, 114, 211);
    padding: 10px;
}

h3 {
    color:rgb(11, 11, 95);
    text-align:center;
    font-family: 'Elms Sans', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color:rgb(11, 11, 95);
    text-align:center;
    font-family: 'Elms Sans', sans-serif;
}

ul {
    color:rgb(11, 11, 95);
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

li {
    color:rgb(11, 11, 95);
    text-align:center;
    list-style-type: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

hyperlink {
    color:rgb(11, 11, 95);
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    color:rgb(11, 11, 95);
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}









